
          


$reusable-component-pcn-background: #ffffff;
$reusable-component-pcn-text-color: #000000;
$reusable-component-pcn-heading-color: #20c997;
$reusable-component-pcn-button-color: #20c997;
$reusable-component-pcn-button-back-ground: #20c997;

